{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block app_content %}
    <h3>Why make a Gratitude Journal?</h1>
    <a href="https://greatergood.berkeley.edu/article/item/how_gratitude_changes_you_and_your_brain">
        Studies
    </a> 
    <p>
    show that keeping a gratitude journal is a helpful way to boost one's happiness in their lives.
    I believe that we should be more conscious of the things we normally take for granted. I wanted 
    to make a public space for sharing these small things, so here we are.
    </p>
    <h3>Why is the app called Grats?</h1>
    <p>
    The name comes from "gratitude" and "congratulation", but looking back
    it doesn't make that much sense.
    </p>

    
{% endblock %}