{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block app_content %}
    <p class="text-center">Quote of the day: {{ quote['quote'] }}</p>
    <p class="text-center">- {{ quote['author'] }}</p>
    {% if not current_user.is_anonymous %}
    <h3 class="text-center">Hello, {{ current_user.username }}!</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% else %}
    <h3>See what other people are saying:</h3>
    {% endif %}
    <br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Posts
                </a>
            </li>
            <li class="next{% if not prev_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&rarr;</span> Older Posts
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}